.ui-timepicker-div {
    .ui-slider-handle {
        border: 1px solid #bdbdbd;
        border-radius: 3px;
        background-color: #fff;
    }

    .ui-slider-horizontal {
        height: .6em;

        .ui-slider-handle {
            top: -.4em;
            margin-left: -.6em;
        }
    }

    .ui-slider {
        background: $gray-lighter;
        border-radius: 15px;
        border: 1px solid #ddd;
    }

    .ui-widget-header {
        margin: 0;
        padding: 5px 0;
    }

    .ui_tpicker_hour,
    .ui_tpicker_minute,
    .ui_tpicker_second {
        margin-top: 15.5px;
    }
}
